<section class="pb-5">
    <div class="border-b border-black border-b-[1px] pb-1">
        <h5 class="font-bold text-base leading-6 tracking-[0.5px]">
            ACH (Required)
        </h5>
    </div>

    <form data-controller="ach-form" class="my-7">
        <div class="flex flex-col gap-7" data-ach-form-target="container">
            <div class="flex flex-col gap-2.5">
                <!-- Bank Name -->
                <div>
                    <input type="text" placeholder="Bank Name *" name="ach[][bank_name]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                        active:border-blue-500 active:ring-2 active:ring-blue-200"
                    />
                </div>

                <!-- Account Number -->
                <div>
                    <input type="text" placeholder="Account Number *" name="ach[][account_number]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                        active:border-blue-500 active:ring-2 active:ring-blue-200"
                    />
                </div>
                
                <!-- Routing Number -->
                <div>
                    <input type="text" placeholder="Routing Number *" name="ach[][routing_number]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                        active:border-blue-500 active:ring-2 active:ring-blue-200"
                    />
                </div>

                <!-- Account Type -->
                <div>
                    <input type="text" placeholder="Account Type *" name="ach[][account_type]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                        placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                        focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                        active:border-blue-500 active:ring-2 active:ring-blue-200"
                    />
                </div>
            </div>

            <!-- Template (hidden, used for cloning) -->
            <template data-ach-form-target="template">
                <div class="flex flex-col gap-2.5">
                    <!-- Bank Name -->
                    <div>
                        <input type="text" placeholder="Bank Name *" name="ach[][bank_name]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                            placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                            focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                            active:border-blue-500 active:ring-2 active:ring-blue-200"
                        />
                    </div>

                    <!-- Account Number -->
                    <div>
                        <input type="text" placeholder="Account Number *" name="ach[][account_number]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                            placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                            focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                            active:border-blue-500 active:ring-2 active:ring-blue-200"
                        />
                    </div>
                    
                    <!-- Routing Number -->
                    <div>
                        <input type="text" placeholder="Routing Number *" name="ach[][routing_number]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                            placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                            focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                            active:border-blue-500 active:ring-2 active:ring-blue-200"
                        />
                    </div>

                    <!-- Account Type -->
                    <div>
                        <input type="text" placeholder="Account Type *" name="ach[][account_type]" class="w-full h-[50px] rounded border border-[#0000006B] px-2 py-3 opacity-100 
                            placeholder:font-normal placeholder:text-base placeholder:leading-6 placeholder:tracking-[0.5px] placeholder:align-middle placeholder:text-[#000000DE]
                            focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
                            active:border-blue-500 active:ring-2 active:ring-blue-200"
                        />
                    </div>
                </div>
            </template>
        </div>

        <!-- Button -->
        <div class="flex flex-row items-center cursor-pointer gap-3 mt-5" data-action="click->ach-form#add">
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                <path d="M7.50008 1.1665V12.8332M1.66675 6.99984H13.3334" stroke="#3F51B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="font-medium text-sm leading-9 tracking-[1.25px] uppercase text-[#3F51B5]">Add an Additional Payment Method</p>
        </div>
    </form>
</section>