<section class="pb-5">
    <div class="border-b border-black border-b-[1px] pb-2">
        <div class="flex flex-row gap-2">
            <img src="{{ asset('assets/images/icons/facebook.svg') }}" alt="Facebook" class="w-6 h-6">
            <h5 class="font-bold text-base leading-6 tracking-[0.5px]">
                Facebook
            </h5>
        </div>
    </div>

    <div class="my-7">

        <!-- Sign in to Facebook -->
        <div>
            <button 
                class="h-[50px] rounded-md px-4 gap-4 opacity-100 
                        bg-[#3F51B5] text-white font-medium text-sm leading-9 tracking-[2.5px] 
                        text-center align-middle uppercase">
                SIGN IN TO FACEBOOK
            </button>
        </div>

    </div>
</section>