{% extends 'base.html.twig' %}

{% block body %}
    <main id="social-info" data-tabs-target="content">
        
        <div class="container mx-auto flex flex-col md:flex-row">
            <div class="md:block md:w-1/4 p-4"></div>

            <div class="w-full md:w-1/2 p-4">
                <h1 class="font-normal text-[34px] leading-[40px] tracking-[0.25px] text-[#000000DE]">
                    Social & Reputation Access
                </h1>
                <div class="px-6 py-2 bg-[#F0F0F0] rounded-[16px] mt-3">
                    <p class="font-normal text-sm leading-5 tracking-normal text-black">
                        * Indicates a required field.
                    </p>
                </div>
            </div>

            <div class="hidden md:block md:w-1/4 p-4"></div>
        </div>

        <div class="container mx-auto flex flex-col md:flex-row">
            <!-- sidebar start -->
            <div class="w-full md:w-1/4 px-4 py-6">
                <div class="relative border-l-4 border-[#0000001F]">
                    <div class="mb-8 ml-5">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#4CAF50] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#4CAF50]">Facebook</p>
                    </div>
                    <div class="mb-8 ml-5">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">Instagram</p>
                    </div>
                    <div class="mb-8 ml-5 ">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">Google</p>
                    </div>
                    <div class="mb-8 ml-5 ">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">Bing</p>
                    </div>
                    <div class="mb-8 ml-5 ">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">Apple Maps</p>
                    </div>
                    <div class="mb-8 ml-5 ">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">LinkedIn</p>
                    </div>
                    <div class="mb-8 ml-5 ">
                        <span class="absolute -left-3 w-5 h-5 rounded-full border-2 border-white p-1 bg-[#3F51B5] shadow-[0_1px_5px_0_#0000001F,0_2px_2px_0_#00000024,0_1px_1px_0_#00000033]"></span>
                        <p class="font-normal text-sm leading-[22px] tracking-[0.1px] text-[#00000099]">BBB</p>
                    </div>
                </div>
            </div>
            <!-- sidebar end -->

            <div class="w-full md:w-1/2 p-4">

                <!-- Facebook Access Info -->
                {% include 'client-portal/social-info/facebook-access.html.twig' %}

                <!-- Instagram Access Info -->
                {% include 'client-portal/social-info/instagram-access.html.twig' %}

                <!-- Google Access Info -->
                {% include 'client-portal/social-info/google-access.html.twig' %}

                <!-- Bing Access Info -->
                {% include 'client-portal/social-info/bing-access.html.twig' %}

                <!-- Apple Maps Access Info -->
                {% include 'client-portal/social-info/apple-maps-access.html.twig' %}

                <!-- Linkedin Access Info -->
                {% include 'client-portal/social-info/linkedin-access.html.twig' %}

                <!-- Better Business Bureau Access Info -->
                {% include 'client-portal/social-info/bbb-access.html.twig' %}

                <!-- Bottom Action Area -->
                {% include 'client-portal/partials/footer-actions.html.twig' with {
                    route_name: 'domain_info',
                } %}

            </div>

            <div class="w-full md:w-1/4 p-4"></div>
        </div>

    </main>

{% endblock %}